doctype html
head
  meta(charset='UTF-8')
  meta(name='author' content='VIJAY THAPA')
  meta(name='description' content='HOUSE RENTAL SYSTEM')
  meta(name='keywords' content='Give Your Keywords for SEO')
  title HOUSE RENTAL SYSTEM
  // ADING CSS HERE
  link(rel='stylesheet' type='text/css' href='css/style.css')
  // Resource Files for Slider
  // Start WOWSlider.com HEAD section
  link(rel='stylesheet' type='text/css' href='slider/engine1/style.css')
  script(type='text/javascript' src='slider/engine1/jquery.js')
  // End WOWSlider.com HEAD section
// Header Starts HERE
header.header
  .wrapper
    h1 HOUSE RENTAL SYSTEM
// Header Ends HERE
// Menu Starts HERE
nav.menu
  .wrapper
    ul
      a(href='index.html')
        li Home
      a(href='about.html')
        li About Us
      a(href='#')
        li Houses
      a(href='contact.html')
        li Contact Us
      a(href='login.html')
        li Log In
// Menu Ends HERE
// SLIDER STARTS HERE
.slider
  .wrapper
    // Start WOWSlider.com BODY section
    #wowslider-container1
      .ws_images
        ul
          li
            img#wows1_0(src='slider/data1/images/house03.jpg' alt='House Rental System' title='House Rental System')
          li
            a(href='http://wowslider.net')
              img#wows1_1(src='slider/data1/images/pexelsphoto186077.jpg' alt='jquery carousel' title='Luxury Houses for Rent')
          li
            img#wows1_2(src='slider/data1/images/39f6e0639465c7e01eaa79e26ada2a48.jpg' alt='Rent Houses at Affordable Price' title='Rent Houses at Affordable Price')
      .ws_bullets
        div
          a(href='#' title='House Rental System')
            span
              img(src='slider/data1/tooltips/house03.jpg' alt='House Rental System')
              | 1
          a(href='#' title='Luxury Houses for Rent')
            span
              img(src='slider/data1/tooltips/pexelsphoto186077.jpg' alt='Luxury Houses for Rent')
              | 2
          a(href='#' title='Rent Houses at Affordable Price')
            span
              img(src='slider/data1/tooltips/39f6e0639465c7e01eaa79e26ada2a48.jpg' alt='Rent Houses at Affordable Price')
              | 3
      .ws_shadow
    script(type='text/javascript' src='slider/engine1/wowslider.js')
    script(type='text/javascript' src='slider/engine1/script.js')
    // End WOWSlider.com BODY section
// SLIDER ENDS HERE
// Main Body Starts HERE
.main
  .wrapper
    h3 Recently Added
    // Displaying Recently Added Houses in Boxes
    .clearfix
      .houses
        img(src='images/house.jpg')
        span.house-title #{firstHouse}
        br
        span.house-added Added Date:01-03-2023
        br
        span.house-location Location: Planet Earth
        br
        a(href='book.html')
          button.btn-book(type='button') Book House
      .houses
        img(src='images/house.jpg')
        span.house-title #{firstHouse}
        br
        span.house-added Added Date:01-03-2017
        br
        span.house-location Location: Planet Earth
        br
        button.btn-book(type='button') Book House
      .houses
        img(src='images/house.jpg')
        span.house-title #{firstHouse}
        br
        span.house-added Added Date:01-03-2017
        br
        span.house-location Location: Planet Earth
        br
        button.btn-book(type='button') Book House
      .houses
        img(src='images/house.jpg')
        span.house-title #{firstHouse}
        br
        span.house-added Added Date:01-03-2017
        br
        span.house-location Location: Planet Earth
        br
        button.btn-book(type='button') Book House
      .houses
        img(src='images/house.jpg')
        span.house-title #{firstHouse}
        br
        span.house-added Added Date:01-03-2017
        br
        span.house-location Location: Planet Earth
        br
        button.btn-book(type='button') Book House
    h3 Luxurious Houses
    // Displaying Luxurious Houses in Boxes
    .clearfix
      .houses
        img(src='images/house.jpg')
        span.house-title #{secondHouse}
        br
        span.house-added Added Date:01-03-2017
        br
        span.house-location Location: Planet Earth
        br
        button.btn-book(type='button') Book House
      .houses
        img(src='images/house.jpg')
        span.house-title #{secondHouse}
        br
        span.house-added Added Date:01-03-2017
        br
        span.house-location Location: Planet Earth
        br
        button.btn-book(type='button') Book House
      .houses
        img(src='images/house.jpg')
        span.house-title #{secondHouse}
        br
        span.house-added Added Date:01-03-2017
        br
        span.house-location Location: Planet Earth
        br
        button.btn-book(type='button') Book House
      .houses
        img(src='images/house.jpg')
        span.house-title #{secondHouse}
        br
        span.house-added Added Date:01-03-2017
        br
        span.house-location Location: Planet Earth
        br
        button.btn-book(type='button') Book House
      .houses
        img(src='images/house.jpg')
        span.house-title #{secondHouse}
        br
        span.house-added Added Date:01-03-2017
        br
        span.house-location Location: Planet Earth
        br
        button.btn-book(type='button') Book House
// Main Body Ends HERE
// Footer Starts HERE
footer.footer
  .wrapper
    p
      | &copy; 
      a(href='#') House Rental System
      | . All rights reserved 2017.
// Footer Ends HERE
